* {
    margin: 0;
    padding: 0;
    border: 0;

    box-sizing: border-box;
}

body {
    background: var(--background-rain);
}

:root {
    --background-rain: #060D26;
    --background-input: #2C303F;
    --background-header: #101A39;
}