.cityNotFound-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 30px 0;
}

.cityNotFound-container .animation {
    margin-top: 20px;
}

.cityNotFound-container h1 {
    font-family: 'Poppins';
    font-size: 17pt;
}

.cityNotFound-container .text {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 40px;
}

.cityNotFound-container p {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
}



@media (max-width: 1048px) {
    .cityNotFound-container .animation {
        margin-top: 30px;
    }
    .cityNotFound-container h1 {
        font-family: 'Poppins';
        font-size: 12pt;
    }
}