@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Rubik:wght@400;700&display=swap');

div.Weather-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    font-family: 'Poppins';
    padding: 30px 0;
}

div.Weather-container  img{
    width: 20%;
}

div.Weather-container  .temperatura-span{
    font-size: 45pt;
    font-weight: 500;
}

p.temperatura-container {
    position: relative;
}

div.Weather-container  .icon-grau{
    font-size: 30pt;
    font-weight: 500;
    margin: 0;
    color: black;

    position: absolute;
    bottom: -5px;
}

div.Weather-container  p.city-name {
    font-size: 20pt;
    font-weight: 900;
    display: block;
    margin-top: 20px;
}
 
div.Weather-container  .temp-umd-container{
    display: flex;
    justify-content: space-between;

    width: 20%;
}

div.Weather-container .temp-umd-container .temperatura, .umidade {
    display: flex;
    flex-direction: column;

    align-items: center;
    text-align: center;

    font-family: 'Poppins', serif;
    font-size: 15pt;
    margin-top: 40px;
    padding-bottom: 40px;
}

div.Weather-container .temp-umd-container .temperatura, .umidade span{
    font-weight: 200;
}
.icon-grau {
    font-size: 5rem;
}

  .c-loader {
    animation: is-rotating 1s infinite;
    border: 10px solid #031716;
    border-radius: 50%;
    border-top-color: #51d4db;
    height: 110px;
    width: 110px;
    margin-top: 200px;
  }
  
  @keyframes is-rotating {
    to {
      transform: rotate(1turn);
    }
  }

  @media (max-width: 1048px) {
    div.Weather-container  p.city-name {
        font-size: 20pt;
        font-weight: 900;
        display: block;
        margin-top: 50px;
    }

    div.Weather-container  img{
        width: 60%;
    }

    div.Weather-container  .temp-umd-container{
        display: flex;
        justify-content: space-between;
    
        width: 45%;
    }

    .icon-grau {
        font-size: 5rem;
    }
  }